<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h1>
    LOGIN PAGE

</h1>
<h3>
    {{ message }}
</h3>
<form action="/users/login/" method="post">
    {% csrf_token %}

    <p>
        <label for="email">Email</label>
        <input id="email" name="email" type="text">
    </p>

    <p>
        <label for="password">Password</label>
        <input id="password" name="password" type="text">
    </p>

    <input type="submit" value="Login">
</form>
</body>
</html>